mixin intro()
  section.intro(id="top")
    .intro__container
      .intro__content
        .intro__logo
          +icon('logo-white', 239, 62)
        h1.intro__title Представляем RuStore&nbsp;- официальный российский магазин&nbsp;приложений для&nbsp;Android.
        a(href="https://www.rustore.ru/instruction.html?mt_link_id=ouirll6&rsm=1&mt_sub1=Email_GosUslugi_01012023").intro__button.button.button--white Скачать RuStore
          +icon('intro-button', "100%", 44).button__bg.is-hidden
          +icon('intro-button-mob', "100%", 28).button__bg
      .intro__image-wrapper
        +picture("content", "intro-1", "jpeg", 1244, 1017, "выбор приложений в RuStore на смартфоне")
    p.intro__description В нём вас ждём гарантированный доступ к привычным приложениям и&nbsp;другие бонусы:
