-
  const legalList = [
    {
      title: 'VKontakte',
      logo: {
        name: 'target-team-img',
        width: 352,
        height: 121,
      },
      description: '3 месяца бесплатного для всех новых пользователей! Огромная библиотека музыки и эксклюзивные релизы!',
    },
    {
      title: 'On-line кинотеатр OKKO',
      logo: {
        name: 'target-team-img',
        width: 352,
        height: 121,
      },
      description: '60 дней бесплатного просмотра, тысячи фильмов для новых пользователей.60 дней бесплатного просмотра, тысячи фильмов для новых пользователей.60 дней бесплатного просмотра, тысячи фильмов для новых пользователей.',
    },
  ]

mixin legal-block()
  .legal-block
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      .legal-block__grid
        each item in legalList
          .legal-item
            .legal-item__logo
              .legal-item__name.visually-hidden !{item.title}
              +icon(item.logo.name, item.logo.width, item.logo.height)
            .legal-item__text !{item.description}
