.about-item {
  position: relative;
  padding-top: size(86px);
  padding-right: size(100px);
  padding-bottom: size(76px);
  padding-left: size(100px);
  max-width: size(594px);
  left: size(1.5px);


  background-color: $color-default-white;
  border: size(3px) solid $color-border-color;
  border-radius: size(41px);

  @include vp-767 {
    left: 0;

    padding-top: size-mob(63px);
    padding-right: size-mob(29px);
    padding-bottom: size-mob(56px);
    padding-left: size-mob(29px);
    max-width: 100%;

    text-align: center;

    border: size-mob(3px) solid $color-border-color;
    border-radius: size-mob(41px);

    &:not(:first-of-type) {
      top: size-mob(-3px);
    }
  }

  &:nth-of-type(2n) {
    position: relative;
    left: size(-1.5px);
  }

  &__title-img {
    width: 100%;
    height: size(121px);

    @include vp-767 {
      height: size-mob(74px);
    }
  }

  &__description {
    margin-top: size(37px);
    margin-bottom: 0;

    font-weight: 400;
    font-size: size(24px);
    line-height: size(36px);

    @include vp-767 {
      margin-top: size-mob(32px);
      font-size: size-mob(16px);
      line-height: size-mob(20px);
    }
  }
}
