.app-list {
  position: relative;
  z-index: 1;
  padding-bottom: size(103px);

  background-color: $color-default-white;

  @include vp-767 {
    padding-bottom: size-mob(142px);
    background-color: $color-transparent;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: size-mob(80px);
      width: 100%;
      height: calc(100% - #{size-mob(80px)});

      background-color: $color-default-white;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    padding: 0 size(48px);

    @include vp-767 {
      padding: 0;
    }
  }

  &__grid {
    padding-top: size(70px);

    @include vp-767 {
      padding-top: 0;
    }
  }

  &__link {
    margin-top: size(24px);
    margin-left: auto;

    font-size: size(16px);
    line-height: size(20px);

    color: $color-primary-blue;

    @include vp-767 {
      margin-top: size-mob(40px);
      margin-right: auto;
      margin-left: auto;

      font-size: size-mob(16px);
      line-height: size-mob(20px);
      text-align: center;
    }
  }
}
