.app-item {
  display: grid;
  grid-template-columns: size(290px) 1fr;
  column-gap: size(110px);

  padding: size(43px) size(90px) size(40px) size(100px);
  min-height: size(287px);
  margin-bottom: size(-2px);
  background-color: $color-default-white;
  border: size(2px) solid $color-border-color;
  border-radius: size(69px);

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: size-mob(-1px);
    padding-top: size-mob(35px);
    padding-bottom: size-mob(45px);

    border-radius: size-mob(41px);
    border-width: size-mob(1px);
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &__header {
    display: flex;
    align-items: flex-start;

    margin-top: size(45px);
    margin-right: size(110px);
    width: size(290px);

    @include vp-767 {
      flex-direction: column;
      align-items: center;

      margin-top: 0;
      margin-right: 0;
      width: auto;
    }
  }

  &__logo {
    flex-shrink: 0;

    margin-right: size(20px);
    width: size(107px);
    height: size(107px);

    @include vp-767 {
      margin-right: 0;
      margin-bottom: size-mob(13px);
      width: size-mob(81px);
      height: size-mob(81px);
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__name {
    margin: 0;
    font-weight: 500;
    font-size: size(32px);
    line-height: size(40px);

    @include vp-767 {
      font-size: size-mob(24px);
      line-height: size-mob(30px);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include vp-767 {
      align-items: center;
      margin-top: size-mob(11px);
    }
  }

  &__bonus {
    margin-bottom: size(16px);

    padding-top: size(3px);
    padding-right: size(15px);
    padding-left: size(15px);
    padding-bottom: size(5px);

    font-size: size(16px);
    line-height: size(20px);

    color: $color-pink;

    border: size(1px) solid $color-pink;
    border-radius: size(15.5px);

    @include vp-767 {
      margin-bottom: size-mob(39px);

      padding-top: size-mob(3px);
      padding-right: size-mob(14px);
      padding-bottom: size-mob(4px);
      padding-left: size-mob(14px);

      font-size: size-mob(16px);
      line-height: size-mob(20px);

      border-radius: size-mob(16px);
    }
  }

  &__description {
    margin-top: 0;
    margin-bottom: size(20px);

    font-size: size(24px);
    line-height: size(36px);

    &:last-of-type {
      margin-bottom: 0;
    }

    @include vp-767 {
      font-size: size-mob(16px);
      line-height: size-mob(20px);
      text-align: center;
    }
  }

  &__button {
    align-items: center;
    margin-top: size(18px);
    padding-top: size(6px);
    padding-bottom: size(6px);
    padding-right: size(8px);
    padding-left: size(12px);

    height: size(28px);
    width: size(226px);

    font-size: size(14px);
    line-height: size(16px);

    @include vp-767 {
      margin-top: size-mob(30px);
      width: size-mob(226px);
      height: size-mob(28px);

      font-size: size-mob(14px);
      line-height: size-mob(16px);
    }
  }
}
