.button {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: size(12px) size(20px);
  font-family: $ff-main;
  font-weight: 500;
  font-size: size(16px);
  line-height: size(20px);
  color: $color-default-white;

  white-space: nowrap;
  border: none;
  background-color: $color-transparent;

  transition: $trans-default;
  cursor: pointer;

  transform: translateZ(0);

  &__bg {
    position: absolute;
    z-index: -1;
    height: size(44px);
    color: $color-primary-blue;
    transition: color $trans-default;
    transform: translateZ(0);

    @include vp-767 {
      width: 100%;
      height: size-mob(44px);
    }
  }

  &__arrow {
    flex-shrink: 0;
    width: size(16px);
    height: size(16px);

    margin-left: size(6px);
    transform: translateZ(0);

    @include vp-767 {
      width: size-mob(16px);
      height: size-mob(16px);

      margin-left: size-mob(6px);
    }
  }

  @include vp-767 {
    padding: size-mob(6px) size-mob(16px);
    font-size: size-mob(16px);
    line-height: size-mob(20px);

    .is-hidden {
      display: none;
    }
  }

  &--white {
    color: $color-primary-blue;

    .button__bg {
      color: $color-default-white;
    }

    @media (hover: hover),
    screen and (min-width: 0\0) {

      &:hover,
      &:focus-visible {
        color: $color-default-white;
      }
    }
  }

  &--dark {
    &::before {
      background-color: $color-default-black;
    }

    .button__decor {
      color: $color-default-black;
    }
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &__text {
    position: relative;
    z-index: 3;
  }

  @media (hover: hover),
  screen and (min-width: 0\0) {

    &:hover,
    &:focus-visible {
      .button__bg {
        color: $color-pink;
      }
    }

    &:active {
      opacity: 0.8;
    }
  }
}
