.contacts-form {
  padding-top: size(115px);

  @include vp-767 {
    padding-top: size-mob(49px);

    .container {
      padding: 0;
    }
  }

  &__header {
    position: relative;
    padding-bottom: size(70px);
    padding-left: size(95px);

    @include vp-767 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      padding-bottom: size-mob(62px);
    }
  }

  .icon-starlight {
    position: absolute;
    top: size(-50px);
    right: size(435px);
    width: size(74px);
    height: size(74px);

    @include vp-767 {
      top: size-mob(-20px);
      right: auto;
      left: size-mob(17px);
      width: size-mob(42px);
      height: size-mob(42px);
    }

  }

  &__title-img-des {
    width: size(497px);
    height: size(303px);

    @include vp-767 {
      display: none;
    }
  }

  &__title-img-mob {
    display: none;

    @include vp-767 {
      display: block;
      width: size-mob(270px);
      height: size-mob(202px);
    }
  }

  &__img-bg {
    position: absolute;
    top: size(-36px);
    right: size(110px);
    width: size(363px);
    height: size(545px);

    @include vp-767 {
      display: none;
    }
  }

  // &__title {
  //   display: flex;
  //   flex-wrap: wrap;
  //   align-items: center;
  //   margin: 0;
  //   padding-left: size(136px);
  //   font-weight: 400;
  //   font-size: size(63px);
  //   line-height: 100%;
  //   letter-spacing: -0.05em;

  //   span {
  //     padding-top: size(6px);
  //     min-height: size(84px);

  //     &:first-of-type {
  //       position: relative;
  //       bottom: size(-2px);
  //     }
  //   }

  //   .special {
  //     border-bottom-left-radius: size(50px);
  //     border-top-left-radius: size(50px);
  //     border-top-right-radius: size(80px);
  //     transform: rotate(-3deg);
  //   }

  //   svg {
  //     position: relative;
  //     bottom: size(-2px);
  //     width: size(84px);
  //     height: size(84px);
  //     border-radius: 50%;
  //   }
  // }

  &__content {
    position: relative;
    padding: size(95px) size(100px);
    background-color: $color-primary-blue;
    border-radius: size(41px);
    color: $color-default-white;

    @include vp-767 {
      padding: 0;
      background-color: $color-transparent;
    }
  }


  &__subtitle {
    margin-top: 0;
    margin-bottom: size(23px);
    font-weight: 500;
    font-size: size(52px);
    line-height: size(58px);

    @include vp-767 {
      margin-bottom: size-mob(12px);
      padding: 0 size-mob(16px);
      color: $color-main-black;
      font-size: size-mob(26px);
      line-height: size-mob(32px);
    }
  }

  &__description {
    margin-top: 0;
    margin-bottom: 0;
    font-size: size(24px);
    line-height: size(36px);

    @include vp-767 {
      padding: 0 size-mob(16px);
      font-size: size-mob(16px);
      line-height: size-mob(20px);
      color: $color-main-black;

    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: size(20px);
    row-gap: size(13px);
    margin-top: size(55px);

    @include vp-767 {
      display: flex;
      flex-direction: column;
      gap: 0;

      margin-top: size-mob(40px);
      padding: size-mob(50px) size-mob(16px) 0;
      background-color: $color-primary-blue;
      border-top-left-radius: size-mob(41px);
      border-top-right-radius: size-mob(41px);
    }

    .custom-input {
      grid-column: 1;

      @include vp-767 {
        &:not(:first-of-type) {
          margin-bottom: size-mob(10px);
        }
      }

      .custom-input__error {
        right: size(9px);
        bottom: size(3px);
        font-size: size(10px);
      }
    }

    .custom-textarea {
      grid-column: 2;
      grid-row: 1 / 6;
      margin-top: auto;

      label {
        height: size(215px);
      }

      textarea {
        padding-top: size(4px);
        margin-right: size(3px);
        height: size(199px);
      }

      @include vp-767 {
        label {
          padding-top: size-mob(10px);
          height: auto;
        }

        textarea {
          padding-top: 0;
          margin-right: size-mob(3px);
          height: size-mob(138px);
        }
      }
    }
  }

  &__input-name {
    margin-bottom: size(30px);

    @include vp-767 {
      margin-bottom: size-mob(47px);
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: size(42px);

    @include vp-767 {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-top: 0;
      padding-top: size-mob(26px);
      padding-right: size-mob(16px);
      padding-left: size-mob(16px);
      padding-bottom: size-mob(47px);
      background-color: $color-primary-blue;
      border-bottom-left-radius: size-mob(41px);
      border-bottom-right-radius: size-mob(41px);
    }
  }

  &__note {
    position: relative;

    font-weight: 500;
    font-size: size(16px);
    line-height: size(20px);

    cursor: pointer;

    @include vp-767 {
      padding-left: size-mob(45px);
      font-size: size-mob(16px);
      line-height: size-mob(20px);
    }

    .custom-toggle__label {
      transition: none;
      padding-left: size(50px);

      @include vp-767 {
        padding-left: 0;
      }
    }

    @media (hover: hover),
    screen and (min-width: 0\0) {

      &:hover,
      &:focus-visible {
        .custom-toggle__icon {
          color: $color-main-black;
        }
      }
    }

    svg {
      position: absolute;
      top: size(-5px);
      left: 0;

      width: size(30px);
      height: size(30px);
      fill: $color-default-white;

      @include vp-767 {
        width: size-mob(30px);
        height: size-mob(30px);
      }
    }

    .link {
      font-weight: 500;
      color: $color-default-white;
      text-decoration: underline;
      transition: color $trans-default;

      &:hover,
      &:focus-visible {
        color: transparentize($color-default-white, 0.3);
        text-decoration: none;
      }

      @include vp-767 {
        display: inline;
        padding: 0;
        margin: 0;
      }
    }
  }

  &__button-submit {
    margin-left: auto;
    min-width: size(182px);

    @include vp-767 {
      margin-top: size-mob(33px);
      margin-left: 0;
      width: 100%;
      height: size-mob(44px);
    }
  }
}
