.custom-toggle {
  position: relative;

  display: flex;

  &__error {
    position: absolute;
    bottom: size(-18px);
    left: size(50px);

    font-size: size(10px);

    color: $color-pink;

    opacity: 0;

    transition: opacity $trans-default;

    @include vp-767 {
      left: 0;
      bottom: size-mob(-20px);
      font-size: size-mob(10px);
    }
  }

  input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  label {
    position: relative;
    cursor: pointer;

    span {
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  &--checkbox {
    .custom-toggle__icon {
      position: absolute;
      top: 0;

      width: size(30px);
      height: size(30px);

      transition: opacity $trans-default, color $trans-default;

      @include vp-767 {
        top: size-mob(17px);
        left: size-mob(-45px);
        width: size-mob(30px);
        height: size-mob(30px);
      }

      &::before {
        content: "";
        position: absolute;
        top: size(10px);
        left: 50%;
        z-index: 2;

        width: size(15px);
        height: size(15px);
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='29' height='29' rx='11.5' fill='black'/%3E%3Crect x='0.5' y='0.5' width='29' height='29' rx='11.5' stroke='black'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        transform: translate(-50%, -50%);
        opacity: 0;

        transition: opacity $trans-default;

        @include vp-767 {
          top: size-mob(14px);
          width: size-mob(12px);
          height: size-mob(12px);
        }
      }
    }
  }

  &--radio {
    .custom-toggle__icon {
      position: absolute;
      left: 0;

      border-radius: 50%;

      transition: border $trans-default;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        color: $color-transparent;

        border-radius: 50%;
        transform: translate(-50%, -50%);

        transition: color $trans-default;
      }
    }
  }

  input:checked + .custom-toggle__icon {

    &::before {
      opacity: 1;
    }
  }

  &.is-invalid {
    .custom-toggle__icon {
      color: $color-pink;
    }

    .custom-toggle__error {
      opacity: 1;
    }
  }

  /*&.is-valid {
    label span {
      color: $color-eucalyptus;
    }
  }*/
}
