.feedback-message {
  position: relative;
  padding-top: size(168px);
  padding-bottom: size(177px);

  @include vp-767 {
    padding-top: size-mob(90px);
    padding-bottom: size-mob(32px);
  }

  .icon-starlight {
    position: absolute;
    top: size(-50px);
    left: size(195px);
    width: size(124px);
    height: size(124px);
    fill: $color-default-white;

    @include vp-767 {
      top: size-mob(-12px);
      left: auto;
      right: size-mob(40px);
      width: size-mob(72px);
      height: size-mob(72px);
    }
  }

  .loop-line {
    position: absolute;
    bottom: size(64px);
    right: size(71px);
    width: size(144px);
    height: size(162px);
    fill: $color-default-white;

    @include vp-767 {
      bottom: size-mob(-81px);
      left: size-mob(42px);
      right: auto;
      width: size-mob(68px);
      height: size-mob(63px);
      transform: rotate(-87deg);
    }
  }

  &__title {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    max-width: size(1020px);

    font-weight: 500;
    font-size: size(52px);
    line-height: size(58px);

    text-align: center;

    @include vp-767 {
      max-width: 100%;
      font-size: size-mob(24px);
      line-height: size-mob(30px);
    }
  }
}
