.intro {
  position: relative;
  padding-top: size(105px);
  min-height: size(605px);

  background-color: $color-primary-blue;
  color: $color-default-white;

  overflow: hidden;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    padding-bottom: size-mob(44px);
    min-height: size-mob(897px);
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    width: size(721px);
    height: size(672px);

    background-image: linear-gradient(88.85deg, #0077FF 48.57%, rgba(0, 119, 255, 0) 99.06%);

    @include vp-767 {
      display: none;
    }
  }

  &__container {
    padding-left: size(150px);

    @include vp-767 {
      display: flex;
      flex-direction: column;
      padding-right: size-mob(16px);
      padding-left: size-mob(16px);
    }
  }

  &__logo {
    margin-bottom: size(52px);

    svg {
      width: size(239px);
      height: size(62px);
    }

    @include vp-767 {
      display: none;
    }
  }

  &__title {
    font-weight: 500;
    font-size: size(32px);
    line-height: size(40px);

    @include vp-767 {
      font-size: size-mob(26px);
      line-height: size-mob(32px);
    }
  }

  &__description {
    position: relative;
    z-index: 1;
    margin: 0;
    margin-bottom: size(-2px);
    padding-top: size(70px);
    padding-bottom: size(3px);
    padding-right: size(48px);
    padding-left: size(48px);
    font-weight: 500;
    font-size: size(24px);
    line-height: size(32px);
    color: $color-main-black;
    text-align: center;
    background-color: $color-default-white;
    border-top-left-radius: size(69px);
    border-top-right-radius: size(69px);

    @include vp-767 {
      margin-top: auto;
      margin-bottom: 0;
      padding-bottom: 0;
      font-size: size-mob(16px);
      line-height: size-mob(20px);
      color: $color-default-white;
      text-align: start;
      background-color: $color-transparent;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    max-width: size(498px);
    padding-bottom: size(125px);

    @include vp-767 {
      z-index: 2;
      max-width: 100%;
    }
  }

  &__button.button {
    min-width: size(187px);
    margin-top: size(32px);

    @include vp-767 {
      margin-top: size-mob(18px);
      padding: size-mob(6px) size-mob(24px);
      font-size: size-mob(14px);
      line-height: size-mob(16px);
      height: size-mob(28px);
    }
  }

  &__image-wrapper {
    position: absolute;
    top: size(-315px);
    right: size(-230px);
    width: size(1244px);
    height: size(1017px);

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }

    @include vp-767 {
      position: relative;
      top: auto;
      right: auto;
      width: size-mob(400px);
      height: auto;
      min-height: size-mob(420px);

      &::before {
        content: '';
        position: absolute;
        top: size-mob(-195px);
        left: size-mob(-16px);
        z-index: 1;
        width: 100%;
        height: size-mob(130px);

        background-image: linear-gradient(#0077FF 65%, rgba(0, 119, 255, 0));
      }

      &::after {
        content: '';
        position: absolute;
        bottom: size-mob(-88px);
        left: size-mob(-16px);
        z-index: 1;
        width: 100%;
        height: size-mob(130px);

        background-image: linear-gradient(rgba(0, 119, 255, 0) 30%, #0077FF);
      }

      img {
        position: absolute;
        top: size-mob(-160px);
        right: size-mob(47px);
        width: size-mob(500px);
        height: size-mob(650px);
        transform: rotate(2deg);
      }
    }
  }
}
