.link {
  position: relative;

  display: inline-flex;
  padding: size(12px) size(20px);
  margin: size(-12px) size(-20px);

  transition: opacity $trans-default, color $trans-default;

  &::before {
    content: "";
    position: absolute;

    left: size(20px);
    bottom: size(12px);

    width: calc(100% - #{size(40px)});
    height: size(1px);

    background-color: $color-primary-blue;
    transition: background-color $trans-default;
  }

  @media (hover: hover),
  screen and (min-width: 0\0) {
    &:hover,
    &:focus-visible {
      color: $color-pink;

      &::before {
        background-color: $color-pink;
      }
    }

    &:active {
      opacity: 0.5;
    }
  }
}
