mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      span.footer__copyright © VK, 2022
      ul.legal-info
        li.legal-info__item
          a(href="https://help.rustore.ru/rustore/legal_info/terms_of_use" target="_blank" rel="noopener noreferrer").legal-info__link Пользовательское соглашение
        li.legal-info__item
          a(href="https://help.rustore.ru/rustore/legal_info/Privacy_policy_users" target="_blank" rel="noopener noreferrer").legal-info__link Конфиденциальность
